@model TeamJAMiN.GalleristComponentEntities.GameContract


<div class="row">
    @* Art Type *@
    <div class="col-xs-12">
        @Model.Art
    </div>
</div>
<div class="row">
    @* Contract Action *@
    <div class="col-xs-12">
        @Model.Bonus
    </div>
</div>
