@model TeamJAMiN.GalleristComponentEntities.Contract

<div class="container">
    <div class="row">
        @* Art Type *@
        <div class="col-xs-12">
            @Model.art
        </div>
    </div>
    <div class="row">
        @* Contract Action *@
        <div class="col-xs-12">
            @Model.bonus
        </div>
    </div>
</div>