@model TeamJAMiN.Models.ComponentViewModels.DraftContractViewModel

<div class="contract-card tile">
    <div class="row no-gutter contract-art-row">
        @* Art Type *@
        <div class="col-xs-12 no-padding">
            <div class="art-icon @Model.Contract.Art.ToString()-icon"></div>
        </div>
    </div>
    <div class="row no-gutter contract-bonus-row">
        @* Contract Action *@
        <div class="col-xs-12 no-padding">
            <div class="contract-bonus @Model.BonusClass"></div>
        </div>
    </div>
</div>
