@model TeamJAMiN.GalleristComponentEntities.Game
@using TeamJAMiN.GalleristComponentEntities

@*Contracts Container*@

<div class="row">
    @{
        foreach (GameContract contract in Model.Contracts.Take(4))
        {
            <div class="col-xs-3">@Html.Partial("~/Views/Game/SalesOffice/Contract.cshtml", contract)</div>
        }
    }
</div>

