@model TeamJAMiN.GalleristComponentEntities.Game
@using TeamJAMiN.GalleristComponentEntities
@using TeamJAMiN.Controllers.GameLogicHelpers

@*Contracts Container*@

<div class="row no-gutter">
    @{
        var draftLocations = new List<GameContractLocation>
            { GameContractLocation.Draft0, GameContractLocation.Draft1, GameContractLocation.Draft2, GameContractLocation.Draft3 };
        var contractDict = Model.GetContractDecks();
        foreach (GameContractLocation location in draftLocations)
        {
            <div class="col-xs-3 no-padding">
                <div class="contract-card tile">@Html.Partial("~/Views/Game/SalesOffice/Contract.cshtml", contractDict[location].FirstOrDefault())</div>
            </div>
        }
    }
</div>

