@model PlayerGalleryViewModel
@using TeamJAMiN.Models.ComponentViewModels

<div id="@Model.Color.ToString()-gallery" class="player-gallery">
    @Html.Partial("~/Views/Game/PlayerGallery/VisitorDisplay.cshtml", Model.GalleryVisitorCounts)
</div>
