@model PlayerGalleryViewModel
@using TeamJAMiN.Models.ComponentViewModels

<div id="@Model.Color.ToString()-lobby" class="player-lobby">
    @Html.Partial("~/Views/Game/PlayerGallery/VisitorDisplay.cshtml", Model.LobbyVisitorCounts)
</div>

