@using TeamJAMiN.GalleristComponentEntities
@{ 
    List<GameVisitor> visitorList = ViewBag.DisplayVisitors;
    var investorCount = visitorList.Where(v => v.Type == VisitorTicketType.investor).ToList().Count;
    var collectorCount = visitorList.Where(v => v.Type == VisitorTicketType.collector).ToList().Count;
    var vipCount = visitorList.Where(v => v.Type == VisitorTicketType.vip).ToList().Count;
}

<div class="row no-gutter visitor-display-icons">
    <div class="col-xs-4 no-padding">
        <div class="visitor-investor gallery-visitor"></div>
    </div>
    <div class="col-xs-4 no-padding">
        <div class="visitor-collector gallery-visitor"></div>
    </div>
    <div class="col-xs-4 no-padding">
        <div class="visitor-vip gallery-visitor"></div>
    </div>
</div>
<div class="row no-gutter visitor-display-counts">
    <div class="col-xs-4 no-padding">
        <div class="visitor-investor-count gallery-visitor-count">@investorCount</div>
    </div>
    <div class="col-xs-4 no-padding">
        <div class="visitor-collector-count gallery-visitor-count">@collectorCount</div>
    </div>
    <div class="col-xs-4 no-padding">
        <div class="visitor-investor-count gallery-visitor-count">@vipCount</div>
    </div>
</div>
