@model List<int>
@using TeamJAMiN.Models.ComponentViewModels

<div class="row no-gutter visitor-display-icons">
    <div class="col-xs-4 no-padding">
        <div class="visitor-investor gallery-visitor"></div>
    </div>
    <div class="col-xs-4 no-padding">
        <div class="visitor-collector gallery-visitor"></div>
    </div>
    <div class="col-xs-4 no-padding">
        <div class="visitor-vip gallery-visitor"></div>
    </div>
</div>
<div class="row no-gutter visitor-display-counts">
    <div class="col-xs-4 no-padding">
        <div class="visitor-investor-count gallery-visitor-count">@Model[0]</div>
    </div>
    <div class="col-xs-4 no-padding">
        <div class="visitor-collector-count gallery-visitor-count">@Model[1]</div>
    </div>
    <div class="col-xs-4 no-padding">
        <div class="visitor-vip-count gallery-visitor-count">@Model[2]</div>
    </div>
</div>
