@model TeamJAMiN.Models.ComponentViewModels.ArtViewModel
@using TeamJAMiN.GalleristComponentEntities
@using TeamJAMiN.Models.GameViewHelpers
@*Art Tile*@
<div class="row no-gutter art-tile-top-row">
    <div class="art-tile-visitor-row">
        @foreach (string type in Model.VisitorTypeNames)
        {
            <div class="col-xs-6 visitor-@type art-tile-icon art-tile-visitor"></div>
        }
    </div>
</div>
<div class="row no-gutter art-tile-icon-row">
    @*Fame*@
    <div class="col-xs-6">
        <div class="col-xs-6 gain-fame-@Model.Art.Fame art-tile-icon art-tile-fame"></div>
        <div class="plus-fame">&nbsp;+&nbsp;</div>
        <div class="col-xs-6 gain-fame-collector art-tile-icon art-tile-fame"></div>
    </div>
    @*Tickets*@
    <div class="col-xs-3">
        <div class="@Model.FirstTicket art-tile-icon"></div>
        <div class="@Model.SecondTicket art-tile-icon"></div>
    </div>
    @*Art Type*@
    <div class="col-xs-3"><div class="@Model.Art.Type.ToString()-icon art-tile-icon art-tile-type"></div></div>
</div>
