
@*Art Tile*@
<div class="container">
    <div class="row">
        @*Fame*@
        <div class="col-xs-4"></div>
        @*Tickets*@
        <div class="col-xs-4"></div>
        @*Art Type*@
        <div class="col-xs-4"></div>
    </div>
</div>