
@*Undiscovered Artist (Back Side)*@
<div class="container">
    <div class="row">
        @*Starting Fame*@
        <div class="col-xs-3"></div>
        @*Starting Stars*@
        <div class="col-xs-3"></div>
        @*Starting Promotion Level*@
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        @*Art Type*@
        <div class="col-xs-4"></div>
        @*Collector*@
        <div class="col-xs-4"></div>
        @*Artist Bonus*@
        <div class="col-xs-4"></div>
    </div>
</div>