
@*New (Blue) Artists*@
<div class="container">
    <div class="col-md-4">
        <div class="row">Blue Digital</div>
        <div class="row">Blue Painting</div>
        <div class="row">Blue Sculpture</div>
        <div class="row">Blue Photo</div>
    </div>
    @*Experienced (Red) Artists*@
    <div class="col-md-4">
        <div class="row">Red Digital</div>
        <div class="row">Red Painting</div>
        <div class="row">Red Sculpture</div>
        <div class="row">Red Photo</div>
    </div>
    @*Art*@
    <div class="col-md-4">
        <div class="row">Art Digital</div>
        <div class="row">Art Painting</div>
        <div class="row">Art Sculpture</div>
        <div class="row">Art Photo</div>
    </div>
</div>