@model TeamJAMiN.GalleristComponentEntities.GameArtist
@using TeamJAMiN.Models.GameViewHelpers

@*Undiscovered Artist (Back Side)*@
<div class="row no-gutter undiscovered-top-row">
    @*Starting Fame*@
    <div class="col-xs-3"><div class="artist-fame">@Model.Fame<div class="star-white fame-star"></div></div></div>
    @*Starting Stars*@
    <div class="col-xs-3">
        @{
            int i = 0;
            while (Model.StarLevels[i] < Model.Fame) { i++; }
        }
        <div class="@FameCss.StarClass[i] fame-star star-size-med"></div>
    </div>
    @*Starting Promotion Level*@
    <div class="col-xs-6">
        <div class="promotion-tile promotion-@Model.Promotion">
        @{ 
            var output = "-";
            if (Model.Promotion > 0)
            {
                output = Model.Promotion.ToString();
            }
            @output
        }
        </div>
    </div>
</div>
<div class="row no-gutter">
    @*Art Type*@
    <div class="col-xs-4"><div class="@Model.ArtType.ToString()-icon art-icon"></div></div>
    @*Collector*@
    <div class="col-xs-4"></div>
    @*Artist Bonus*@
    <div class="col-xs-4"></div>
</div>
