@*Discovered Artist (Front Side)*@
<div class="container">
    <div class="row">
        @*Art Type*@
        <div class="col-xs-3"></div>
        @*Promotion Level*@
        <div class="col-xs-6 col-xs-offset-3"></div>
    </div>
    <div class="row">
        @*Fame/Cost*@
        <div class="col-xs-6"></div>
        @*Next Star Level*@
        <div class="col-xs-6"></div>
    </div>
</div>