@using TeamJAMiN.Controllers.GameLogicHelpers
@*Influence Track*@

@{  int i = 0;
    int money = 0;
}
<div class="row no-gutter">
    @for (int j = 0; j < 4; j++)
    {
        <div class="col-lg-3 col-md-6 col-sm-12 influence-track-section">
            @for (int k = 0; k < 3; k++)
            {
                <div class="col-sm-4 col-xs-6">
                    <div class="row no-gutter">
                        @for (int m = 0; m < 3; m++)
                        {
                            var moneyHTML = "";
                            var starHTML = "";
                            var kickedClass = "";
                            if (GameInfluenceTrack.InfluenceToMoney[money] == i)
                            {
                                moneyHTML = @"<div class=""influence-money-icon money-" + money++ + @"""></div>";
                            }
                            if ( i % 5 == 0 && i != 35)
                            {
                                starHTML = @"<div class=""star-white influence-star-icon""></div>";
                                kickedClass = "has-star ";
                            }
                            if ( i % 5 == 0 && i != 0)
                            {
                                kickedClass += "influence-kicked-out";
                            }
                            else if (i==0)
                            {
                                kickedClass += "influence-icon";
                            }
                            <div class="col-xs-4">
                                <div id="influence-track-@i" class="@kickedClass influence-track-space">@Html.Raw(starHTML)<div class="influence-track-number">@i</div>@Html.Raw(moneyHTML)</div>
                            </div>
                            i++;
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>