
@*Influence Track*@
<div class="row no-gutter">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">0</div>
                <div class="col-xs-4">1</div>
                <div class="col-xs-4">2</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">3</div>
                <div class="col-xs-4">4</div>
                <div class="col-xs-4">5</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">6</div>
                <div class="col-xs-4">7</div>
                <div class="col-xs-4">8</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">9</div>
                <div class="col-xs-4">10</div>
                <div class="col-xs-4">11</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">12</div>
                <div class="col-xs-4">13</div>
                <div class="col-xs-4">14</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">15</div>
                <div class="col-xs-4">16</div>
                <div class="col-xs-4">17</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">18</div>
                <div class="col-xs-4">19</div>
                <div class="col-xs-4">20</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">21</div>
                <div class="col-xs-4">22</div>
                <div class="col-xs-4">23</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">24</div>
                <div class="col-xs-4">25</div>
                <div class="col-xs-4">26</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">27</div>
                <div class="col-xs-4">28</div>
                <div class="col-xs-4">29</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">30</div>
                <div class="col-xs-4">31</div>
                <div class="col-xs-4">32</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="row no-gutter">
                <div class="col-xs-4">33</div>
                <div class="col-xs-4">34</div>
                <div class="col-xs-4">35</div>
            </div>
        </div>
    </div>
</div>