@model TeamJAMiN.Models.ComponentViewModels.AuctionLocationViewModel

@if (Model.IsActivePlayer && Model.IsValidActionState)
{
    using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Game.Id, gameAction = Model.State, actionLocation = Model.ActionLocation }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="@Model.AuctionClass auction-tile tile">
            <input type="submit" class="action-button" value="" />
        </div>
    }
}
else
{
    <div class="@Model.AuctionClass auction-tile tile"></div>
}
