@model TeamJAMiN.GalleristComponentEntities.ReputationTile

<div class="container">
    <div class="row">
        @*influence*@
        <div class="col-xs-6">
            @Model.influence
        </div>
        @*money*@
        <div class="col-xs-6">
            @Model.money
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Model.scoring
        </div>
    </div>

</div>




