@model TeamJAMiN.Models.ComponentViewModels.ReputationTileViewModel

<div class="row no-gutter">
    @*influence*@
    <div class="col-xs-6">
        <div class="influence-@Model.Tile.Influence reputation-tile-influence"></div>
    </div>
    @*money*@
    <div class="col-xs-6">
        <div class="money-@Model.Tile.Money reputation-tile-money"></div>
    </div>
</div>
<div class="row no-gutter">
    <div class="col-xs-12 scoring-container no-padding">
        @Html.Raw(Model.ScoringHtmlString)
    </div>
</div>





