@model TeamJAMiN.GalleristComponentEntities.GameReputationTile
@using TeamJAMiN.Models.GameViewHelpers


<div class="row no-gutter">
    @*influence*@
    <div class="col-xs-6">
        <div class="influence-@Model.Influence reputation-tile-influence"></div>
    </div>
    @*money*@
    <div class="col-xs-6">
        <div class="money-@Model.Money reputation-tile-money"></div>
    </div>
</div>
<div class="row no-gutter">
    <div class="col-xs-12 scoring-container no-padding">
        @Html.Raw(IconCss.ReputationTileScoringHTML[Model.Scoring])
    </div>
</div>





