@model TeamJAMiN.GalleristComponentEntities.GameReputationTile


<div class="row">
    @*influence*@
    <div class="col-xs-6">
        @Model.Influence
    </div>
    @*money*@
    <div class="col-xs-6">
        @Model.Money
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Model.Scoring
    </div>
</div>





