
/* Removes Gutter Padding From Rows*/
/*Used in the influence track*/
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-padding {
    padding: 0 !important;
}

.board-region {
    background-color: rgba(255, 255, 255,.1);
    text-align:center;
    border-radius:15px;
    padding: 5px 10px;
}

.player-board {
    margin-top:100px;
}

.border {
    border: 1px solid white;
}

.separate-top {
    margin-top:5px;
}

/* Icon Basics */
.icon-lg, .artist-bonus, .contract-bonus, .art-icon {
    height: 50px;
    width: 50px;
}
.icon-background, .artist-bonus, .contract-bonus, .art-icon, .media-icon, .international-market-visitor, .international-market-influence,
.auction-tile, .reputation-tile-influence, .reputation-tile-money, .reputation-tile-scoring, .art-type-scoring-art, .fame-star,
.aquired-scoring-icon, .reputation-row-art-icon, .auction-row-icon, .auction-row-cost, .minus-icon, .art-tile-icon {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:50%;
}

/* All Tiles */
.tile {
    border-radius:15px;
    padding: 5px;
}

/* Action Icons */
.sell-icon {
    background-image:url(Icons/Sell.svg)
}
.exhibit-icon {
    background-image:url(Icons/Exhibit.svg)
}
.auction-icon {
    background-image:url(Icons/Auction.svg)
}
.reputation-icon {
    background-image:url(Icons/Reputation.svg)
}

/* Artist Tiles*/
.artist-colony-tile {
    height:125px;
}
.artist-colony-tile:not(:first-child) {
    margin-top:10px;
}
.artist-blue {
    background-color: royalblue;
}
.artist-red {
    background-color: indianred;
}
.undiscovered-top-row {
    background-color: rgba(255,255,255,.4);
    margin-bottom:10px;
    border-radius:15px;
    padding: 5px 10px;
}
.discovered-top-row {
    background-color: rgba(255,255,255,.8);
    margin: -5px -5px 0 -5px !important;
    padding: 10px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.discovered-bottom-row {
    padding-top: 5px;
}
.promotion-container {
    padding: 5px !important;
}
.initial-fame {
    border-radius:15px;
    padding: 5px !important;
}
.fame-track {
    border-radius:15px;
    padding: 5px !important;
    color:royalblue;
}
.fame-track .current-fame {
    background-color: rgba(255,255,255,.4);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height:2em;
}
.fame-track .next-fame-star {
    background-color: rgba(255,255,255,.2);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 2em;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;	
	border-left: 5px solid rgba(255,255,255,.2);
    position:relative;
    top: 10px;
    left:100%;
}
.artist-fame {
    border-radius:5px;
    background-color:#5c1201;
    color:white;
    height: 2em;
    margin-bottom:5px;
}
.star-white {
    position:relative;
    bottom:0;
    background-image:url(Icons/FameStarWhite.svg);
    min-height:15px;
}

/* Contract Cards */
.contract-card {
    background-color:white;
    margin: 0 5px;
}
.contract-art-row {
    background-color:lightpink;
    padding:5px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.contract-bonus-row {
    background-color: #5c1201;
    padding:5px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
/* international market*/
.international-market-visitor {
    width: 30px;
    height: 30px;
    background-size:80%;
}
.auction-tile {
    width: 75px;
    height: 75px;
    background-color: grey;
    background-size:80%;
    margin: 0 auto;
}
.visitor-left {
        margin: 0 0 0 auto;
}
.visitor-right {
        margin: 0 auto 0 0;
}
.visitor-center {
    margin: 0 auto;
}

/* reputaion tiles */
.reputation-tile {
    width: 75px;
    height: 75px;
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0.50) 50%, lightblue 50%, lightblue 100%);
    background-color: white;
    margin: 0 auto;
}
.reputation-tile-influence {
    width: 25px;
    height: 25px;
    margin: 0 auto 0 0;
}
.reputation-tile-money {
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;
}
.scoring-container{
    height: 0;
}
.reputation-tile-scoring {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
#promotion-scoring {
    position: relative;
    bottom:-8px;
    height:30px;
}
#masterpiece-scoring {
    height: 35px;
    width: 35px;
    margin-top: 5px;
}
#visitor-set-scoring {
    position:relative;
    bottom:10px;
}
.visitor-set-scoring-visitor {
    height: 25px;
    width:25px;
    margin: 0 auto;
}
#visitor-set-collector {
    position:relative;
    bottom: -5px;
}
#art-type-scoring {
    position:relative;
    bottom:15px;
}
.art-type-scoring-art {
    height: 23px;
    width:23px;
    margin: 0 auto;
}
#art-type-scoring-digital {
    position:relative;
    bottom:12px;
}
#art-type-scoring-sculpture {
    position:relative;
    bottom:-12px;
}
#art-type-scoring-painting {
    margin: 0 auto 0 0;
}
#art-type-scoring-photo {
    margin: 0 0 0 auto;
}
.aquired-scoring-icon{
    height: 35px;
    width:35px;
    margin: 0 auto;
}
#aquired-scoring-sold {
    position:relative;
    bottom:25px;
}
#aquired-scoring-exhibited {
    position:relative;
    bottom:-10px;
    right: 5px;
}
.reputation-row-art-icon {
    width: 65px;
    height: 75px;
    margin: 0 auto;
}

/* Auction Row */
.auction-row-icon {
    height:30px;
    width:30px;
    background-color:white;
    background-size: 80%;
    border-radius:50%;
    margin: 0 auto
}
.auction-row-cost {
    height:40px;
    width:50px;
    background-size: 80%;
    margin: 0 0 0 auto;
}
.minus-icon {
    background-image:url(Icons/Minus.svg);
    height:50%;
    width:50%;
    position:relative;
    top:25%;
    left:-15%;
}

/* Influence Icons */
.international-market-influence {
    width: 40px;
    height: 40px;
    background-size:80%;
    margin: 0 auto;
}
.influence-1 {
     background-image:url(Icons/InfluenceOne.svg);
}
.influence-2 {
     background-image:url(Icons/InfluenceTwo.svg);
}
.influence-3 {
     background-image:url(Icons/InfluenceThree.svg);
}

/* Money Icons */
.money-1 {
     background-image:url(Icons/Money1.svg);
}
.money-2 {
     background-image:url(Icons/Money2.svg);
}
.money-3 {
     background-image:url(Icons/Money3.svg);
}
.money-4 {
     background-image:url(Icons/Money4.svg);
}
.money-5 {
     background-image:url(Icons/Money5.svg);
}
.money-6 {
     background-image:url(Icons/Money6.svg);
}
.money-7 {
     background-image:url(Icons/Money7.svg);
}
.money-8 {
     background-image:url(Icons/Money8.svg);
}
.money-9 {
     background-image:url(Icons/Money9.svg);
}

/* Bonuses */
.artist-bonus {
    position:relative;
    right:15px;
    background-color: white;
    background-size:80%;
    border-radius:10px;
    margin: 0 auto;
}
.contract-bonus {
    background-color: white;
    background-size:80%;
    border-radius:10px;
    margin: 0 auto;
}
.bonus-visitor-any {
    background-image:url(Icons/BonusVisitorPlazaAny.svg);
}
.bonus-money {
    background-image:url(Icons/BonusMoney.svg);
}
.bonus-influence {
    background-image:url(Icons/BonusInfluence.svg);
}
.bonus-fame {
    background-image:url(Icons/BonusFame.svg);
    background-size:75%;

}
.bonus-ticket-two {
    background-image:url(Icons/BonusTicketTwo.svg);
}
.bonus-assistant {
    background-image:url(Icons/BonusAssistant.svg);
}
.bonus-visitor-bag {
    background-image:url(Icons/BonusVisitorVisitorBag.svg);
    background-size:60%;
}
.bonus-visitor-plaza-investor-vip {
    background-image:url(Icons/BonusVisitorPlazaInvestorVip.svg);
}
.bonus-contract {
    background-image:url(Icons/BonusContract.svg);
    background-size:60%;
}

/* Promotion Tiles */
.promotion-0 {
    background-image:url(Icons/Promotion.svg), linear-gradient(to right, #c3e1ef 40%, #ffffff 40%, #ffffff 100%);
}
.promotion-1 {
    background-image:url(Icons/Promotion.svg), linear-gradient(to right, #ffffff 40%, #f5edd3 40%, #f5edd3 100%);
}
.promotion-2 {
    background-image:url(Icons/Promotion.svg), linear-gradient(to right, #ffffff 40%, #f8ef8c 40%, #f8ef8c 100%);
}
.promotion-3 {
    background-image:url(Icons/Promotion.svg), linear-gradient(to right, #ffffff 40%, #fbd194 40%, #fbd194 100%);
}
.promotion-4 {
    background-image:url(Icons/Promotion.svg), linear-gradient(to right, #ffffff 40%, #f598b5 40%, #f598b5 100%);
}
.promotion-5 {
    background-image:url(Icons/PromotionFive.svg), linear-gradient(to right, #ffffff 40%, #5c1201 40%, #5c1201 100%);
}
.promotion-tile {
    background-size: 35%, auto;
    background-repeat:no-repeat;
    background-position-x: 80%;
    background-position-y: 50%;
    color: #5c1201;
    border: 1px solid #5c1201;
    border-radius:5px;
    text-align:left;
    padding:5px;
}

/* Fame Stars */
.fame-star {
    margin: 0 auto;
}
.star-green-1 {
    background-image:url(Icons/FameStarGreenOne.svg);
}
.star-green-2 {
    background-image:url(Icons/FameStarGreenTwo.svg);
}
.star-green-3 {
    background-image:url(Icons/FameStarGreenThree.svg);
}
.star-gold-1 {
    background-image:url(Icons/FameStarGoldOne.svg);
}
.star-gold-2 {
    background-image:url(Icons/FameStarGoldTwo.svg);
}
.star-celebrity {
    background-image:url(Icons/FameStarCelebrity.svg);
}
.star-reputation-tile {
    background-image:url(Icons/FameReputationTile.svg);
}
.star-size-xs{
    min-height:15px;
}
.star-size-sm {
    min-height:20px;
}
.star-size-med {
    min-height:30px;
}

/* Art Tiles */
.art-tile {
    background-color: #f3ebd6;
}
.art-tile-top-row {
    height:55%;
    margin: -5px -5px 0 -5px !important;
    background-color: rgba(255,255,255,.4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.art-tile-visitor-row {
    padding-top:20px;
}
.art-tile-icon-row {
    padding-top: 10px;
}
.art-tile-icon {
    margin: 0 auto;
}
.art-tile-visitor {
    min-height:30px;
    background-position: center;
}
.art-tile-type {
    min-height:30px;
    background-position: center;
}
.art-tile-ticket {
    min-height:15px;
    background-position: center;
}
.art-tile-ticket:first-child {
    margin-bottom:2px;
}
.art-tile-fame {
    min-height:30px;
}
.plus-fame {
    position:absolute;
    top:20%;
    left: 37%;
    font-size:18px;
    color: #5c1201;
}

/* Gain Fame Art Tile Icons */
.gain-fame-0 {
    background-image: url(Icons/FameGainStarZero.svg);
    background-position: center left;
}
.gain-fame-1 {
    background-image: url(Icons/FameGainStarOne.svg);
    background-position: center left;
}
.gain-fame-2 {
    background-image: url(Icons/FameGainStarTwo.svg);
    background-position: center left;
}
.gain-fame-collector {
    background-image: url(Icons/FameGainCollector.svg);
    background-position: center right;
}

/*Ticket Icons*/
.ticket-any {
    background-image: url(Icons/TicketAny.svg);
}
.ticket-collector {
    background-image: url(Icons/TicketCollector.svg);
}
.ticket-collector-vip {
    background-image: url(Icons/TicketCollectorVip.svg);
}
.ticket-investor {
    background-image: url(Icons/TicketInvestor.svg);
}
.ticket-investor-collector {
    background-image: url(Icons/TicketInvestorCollector.svg);
}
.ticket-vip {
    background-image: url(Icons/TicketVip.svg);
}
.ticket-any-two {
    background-image: url(Icons/TicketAnyTwo.svg);
}

/*Art Type Icons*/
.painting-icon {
    background-image: url(Icons/ArtPainting.svg);
}
.digital-icon {
    background-image: url(Icons/ArtDigital.svg);
}
.photo-icon {
    background-image: url(Icons/ArtPhoto.svg);
}
.sculpture-icon {
    background-image: url(Icons/ArtSculpture.svg);
}
.art-icon {
    margin: 0 auto;
}

/* Visitor Icons */
.visitor-investor {
    background-image: url(Icons/VisitorInvestor.svg);
}
.visitor-collector {
    background-image: url(Icons/VisitorCollector.svg);
}
.visitor-vip {
    background-image: url(Icons/VisitorVip.svg);
}
.visitor-any {
    background-image: url(Icons/BonusVisitorPlazaAny.svg);
}

/* Assistants  */
.assistant-icon {
    background-image: url(Icons/Assistant.svg);
}

/* Media Center */
.media-icon {
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

/*Default Stuff*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-text{
    text-align:center;
}

.table{
    font-size: 15px;
}

.table thead tr td{
    border-bottom:solid;
}

td{
    padding:5px;
}