@* Media *@
<div class="row">
    <div class="col-xs-2">
        <div class="col-xs-12 no-padding">
            <div class="influence-1 media-icon">
                <div class="minus-icon"></div>
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="ticket-any media-icon"></div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="promotion-tile promotion-1">1</div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="col-xs-12 no-padding">
            <div class="influence-2 media-icon">
                <div class="minus-icon"></div>
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="bonus-influence media-icon"></div>

        </div>
        <div class="col-xs-12 no-padding">
            <div class="promotion-tile promotion-2">2</div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="col-xs-12 no-padding">
            <div class="influence-3 media-icon">
                <div class="minus-icon"></div>
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="bonus-ticket-two media-icon"></div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="promotion-tile promotion-3">3</div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="col-xs-12 no-padding">
            <div class="influence-4 media-icon">
                <div class="minus-icon"></div>
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="bonus-money media-icon"></div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="promotion-tile promotion-4">4</div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="col-xs-12 no-padding">
            <div class="influence-5 media-icon">
                <div class="minus-icon"></div>
            </div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="visitor-any media-icon"></div>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="promotion-tile promotion-5">5</div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="col-xs-12">
            <div class="gain-fame-1 media-icon">
            </div>
        </div>
        <div class="col-xs-12">+</div>
        <div class="col-xs-12">
            <div class="gain-fame-collector media-icon"></div>
        </div>
    </div>
</div>