
@* Media *@
<div class="container">
    <div class="col-xs-10">
        @*Influence Cost*@
        <div class="row">
            <div class="col-xs-2">1</div>
            <div class="col-xs-2">2</div>
            <div class="col-xs-2">3</div>
            <div class="col-xs-2">4</div>
            <div class="col-xs-2">5</div>
        </div>
        @*Reward*@
        <div class="row">
            <div class="col-xs-2">ticket</div>
            <div class="col-xs-2">influence</div>
            <div class="col-xs-2">tickets</div>
            <div class="col-xs-2">money</div>
            <div class="col-xs-2">meeple</div>
        </div>
        @*Promotion Level*@
        <div class="row">
            <div class="col-xs-2">1</div>
            <div class="col-xs-2">2</div>
            <div class="col-xs-2">3</div>
            <div class="col-xs-2">4</div>
            <div class="col-xs-2">5</div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="row">
            <div class="col-xs-12">1+Collectors</div>
        </div>
    </div>
</div>