@model TeamJAMiN.GalleristComponentEntities.Player
@using TeamJAMiN.GalleristComponentEntities

<div class=""
<div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-8">
        <div class="row">
            @foreach (GameArt art in Model.Art)
            {
                Html.Partial("~/Views/Game/PlayerBoard/PlayerArt.cshtml", art);
            }
        </div>
    </div>
    <div class="col-xs-2">

    </div>
</div>