@model TeamJAMiN.GalleristComponentEntities.Player
@using TeamJAMiN.GalleristComponentEntities

<div class="row">
    Player: @ViewBag.userName <br />
    Money: @Model.Money <br />
    @{
        var commission = "No Commissioned Art";
        if (Model.Commission != null)
        {
            commission = Model.Commission.ArtType.ToString() + " " + Model.Commission.Category.ToString();
        }
    }
    Commission: @commission
</div>

<div class="row">
    <div class="col-xs-2">
        <div class="col-xs-12">a</div>
        <div class="col-xs-12">a</div>
        <div class="col-xs-12">a</div>
        <div class="col-xs-12">a</div>
        <div class="col-xs-12">a</div>
        <div class="col-xs-12">a</div>
        <div class="col-xs-12">a</div>
        <div class="col-xs-12">a</div>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-10 border">
                @{                          
                    var art = Model.Art.ToList();
                    var artCount = art.Count;
                    for (var i = 0; i < 3; i++)
                    {
                    <div class="col-xs-4">
                        @if(i<artCount)
                        {
                            Html.Partial("~/Views/Game/PlayerBoard/PlayerArt.cshtml", art[i]);
                        }
                    </div>
                    }
                }
                    </div>
            <div class="col-xs-2">
                <div class="col-xs-12">a</div>
                <div class="col-xs-12">a</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-4">Influence</div>
                    <div class="col-xs-4">Money</div>
                    <div class="col-xs-4">Fame</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">Visitor</div>
                    <div class="col-xs-4">Tickets</div>
                    <div class="col-xs-4">Assistant</div>
                </div>
            </div>
            <div class="col-xs-7">
                @foreach (GameContract contract in Model.Contracts)
                {
                    Html.Partial("~/Views/Game/PlayerBoard/PlayerContracts.cshtml", contract);
                }
            </div>
            <div class="col-xs-2">
                
            </div>
        </div>
    </div>
    <div class="col-xs-2">
           
    </div>
</div>