@using TeamJAMiN.Models.ComponentViewModels
@model ReputationTileLocationViewModel

@if (Model.Tile != null)
{
    <div class="reputation-tile tile">
        @Html.Partial("~/Views/Game/InternationalMarket/ReputationTile.cshtml", new ReputationTileViewModel(Model.Tile))
    </div>
}
else
{
    if (Model.IsPlayerBoardOfActivePlayer && Model.IsActivePlayer && Model.IsValidActionState)
    {
        using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Player.GameId, gameAction = Model.State, actionLocation = Model.Location.ToString() }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="@Model.BonusClass player-reputation-icon tile">
                <input type="submit" class="action-button" value="" />
            </div>
        }
    }
    else
    {
        <div class="@Model.BonusClass player-reputation-icon tile"></div>
    }
}



