@using TeamJAMiN.Models.ComponentViewModels
@model UnemployedAssistantViewModel

<div class="col-xs-12">
    @*Assistant Icon*@
    @if (Model.IsPlayerBoardOfActivePlayer && Model.IsActivePlayer && Model.IsValidActionState && Model.IsAvailable)
    {
        using (Html.BeginForm("TakeGameAction", "Game", new { id = Model.Player.Game.Id, gameAction = Model.State, actionLocation = Model.AssistantIndex.ToString() }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-xs-4 no-padding">
                <input type="submit" class="action-button" value="" />
                <div class="player-assistant-icon @Model.AssistantCssClass"></div>
            </div>
        }
    }
    else
    {
        <div class="col-xs-4 no-padding">
            <div class="player-assistant-icon @Model.AssistantCssClass"></div>
        </div>
    }
    @*Assistant Cost*@
    <div class="col-xs-4 no-padding">
        <div class="player-assistant-cost money-@Model.AssistantCost">
            <div class="minus-icon"></div>
        </div>
    </div>
    @*Assistant Bonus*@
    <div class="col-xs-4 no-padding"></div>
</div>